{% extends "master.html" %}

{% block content %}
<main class="mainRegister">
    <div class="container">
        <div class="form-box">
            <h2>Change password</h2>
            <form class="password_change" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                    {{ form.old_password }}
                    <small class="help-text">{{ form.old_password.help_text }}</small>
                    {% if form.old_password.errors %}
                        <div class="error">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}
                    <small class="help-text">{{ form.new_password1.help_text }}</small>
                    {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}
                    <small class="help-text">{{ form.new_password2.help_text }}</small>
                    {% if form.new_password2.errors %}
                        <div class="error">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit">Change password</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
