{% extends 'master.html' %}

{% block title %}
  <title>Reset password</title>
{% endblock %}

{% block content %}
<main class="mainRegister">
    <div class="container">
        <div class="form-box">
            <h2>Forgot your password?</h2>            
            <p>Enter your email address and we'll send you a link to reset your password.</p>
            <br>
            <form class="password_change" method="post">
                {% csrf_token %}
                <input type="email" name="email" required placeholder="example@email.com">
                <br>
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
